[submodule "typescript-prereq"]
	path = typescript-prereq
	url = https://github.com/ChiefWoods/typescript-prereq.git
[submodule "rust-prereq"]
	path = rust-prereq
	url = https://github.com/ChiefWoods/rust-prereq.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/ChiefWoods/solana-starter.git
[submodule "escrow"]
	path = escrow
	url = https://github.com/ChiefWoods/escrow.git
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/ChiefWoods/marketplace.git
[submodule "staking"]
	path = staking
	url = https://github.com/ChiefWoods/staking.git
[submodule "dice"]
	path = dice
	url = https://github.com/ChiefWoods/dice.git
[submodule "automated-market-maker"]
	path = automated-market-maker
	url = https://github.com/ChiefWoods/automated-market-maker.git
[submodule "splurge"]
	path = splurge
	url = https://github.com/ChiefWoods/splurge.git
